<div class="inner-container">
  <!-- Table view of all events -->
  <table class="table table-condensed table-hover" *ngIf="taskGroups != null && !taskView">
    <tr *ngFor="let group of taskGroups" (click)="getTasks(group.id)" class="task-row">
      <td>{{group.name}}</td>
      <td>{{group.description}}</td>
    </tr>
  </table>
  <div *ngIf="taskView">
    <div class="btn btn-primary" (click)="toggleTaskView()">Go back</div>
    <app-task [taskGroupId]="currentTaskGroupId"></app-task>
  </div>
</div>