<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <form [formGroup]="loginform">

                    <div class="form-group">
                        <input type="text"
                        class="form-control"
                        formControlName="username"
                        class="form-control input-underline input-lg"
                        id="username"
                        placeholder="Username"
                        required>
                    </div>

                    <div class="form-group">
                        <input type="password"
                        class="form-control"
                        formControlName="password"
                        class="form-control input-underline input-lg"
                        id="password"
                        placeholder="Password"
                        required>
                    </div>

                <a class="btn rounded-btn" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a>
                &nbsp;
                <a class="btn rounded-btn" href="https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=eaa9e663-4d2c-4552-98e9-e525a11d27e5&redirect_uri=http://localhost:8080/authorize&response_type=code%20id_token&scope=openid%20offline_access%20profile%20User.Read%20Mail.Read%20Calendars.Read%20Contacts.Read&state=5a2853cd-b18d-4805-8443-07db6068be95&nonce=62489277-35b9-44bc-a6d7-cd1887144cc4&response_mode=form_post">Outlook!</a>
            </form>
        </div>
    </div>
</div>
