#eventdescription {
    display: inline-block;
    margin-top: 60px;
}

.textfield {

    margin-bottom: 20px;
    display: block;
    margin: 20px;
}

button {
    margin-left: 250px;
    margin-top: 15px;
}

input {
    width: 350px;
}

textarea {
    width: 350px;
}

form {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding-left: 10px;
    padding-bottom: 10px;
}


textarea {
    resize: none;
}
h1 {
    width: 300px;
    margin: auto;
}
