<div [@routerTransition]>
  <div class="inner-sidebar">
    <div class="inner-logo">Event</div>
    <ul class="nav flex-column inner-nav">
        <li class="nav-item">
          <button type="button" class="btn btn-lg btn-primary btn-inner-sidebar">Create event</button>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">All</a>
        </li>
        <li class="nav-item">
          <div>Filters</div>
          <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="#">Pending</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Completed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Deleted</a>
              </li>
          </ul>
        </li>
        <li class="nav-item">
            <div>Labels</div>
            <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" href="#">Important</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Montreal</a>
                </li>
            </ul>
          </li>
        
      </ul>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search event" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </nav>
    
    
    <div class="inner-container">Test something</div>
</div>
