<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <form role="form" [formGroup]="forgotPassform">
                <div class="form-content">
                    <div class="form-group">
                        <label for="email">{{ 'email' | translate }}</label>
                        <input #emailFromTemplate formControlName="email" type="text"
                               class="form-control input-underline input-lg" id="email" placeholder="Email">
                        <span class="text-error" *ngIf="email.invalid && errorMessageSent">Enter an email</span>
                        <span class="text-error" *ngIf="email.valid && errorMessageSent">Enter a register email</span>
                        <span class="text-success" *ngIf="successSent">Reset email as been sent</span>
                    </div>

                    <div *ngIf="isViewable" class="form-group">
                        <label for="email">{{ 'New Password' | translate }}</label>
                        <input #passwordFromTemplate formControlName="password" type="password"
                               class="form-control input-underline input-lg" id="password" placeholder="Password">
                        <span class="text-error" *ngIf="password.invalid && errorMessageReset">Enter a valid password</span>
                    </div>


                    <div *ngIf="isViewable" class="form-group">
                        <label for="code">Code</label>
                        <input #codeFromTemplate formControlName="code" type="text"
                               class="form-control input-underline input-lg" id="code" placeholder="Confirmation Code">
                        <span class="text-error" *ngIf="code.invalid && errorMessageReset">Enter a Code</span>
                        <span class="text-error" *ngIf="code.valid && errorMessageReset">Enter a valid Code</span>
                        <span class="text-success" *ngIf="successReset">Password as been reset</span>
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="forgotPass()"> {{ 'send' | translate }} </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> {{ 'login' | translate }} </a>&nbsp;
                <a class="btn rounded-btn" *ngIf="isViewable" (click)="confirmPassword()"> Change password </a>&nbsp;
            </form>

</div>

<!--,roleFromTemplate.value='Choose a role'   , emailFromTemplate.value=''-->
