<div>
  <form>
    <mat-sidenav-container class="create-template">
      <mat-sidenav opened mode="side" class="sections">
        <ul class="sidenav">
          <li 
            [ngClass]="{'active': section.sectionID===currentSection?.sectionID}" 
            (click)="changeCurrentSection(section.sectionID)"
            class="section" 
            *ngFor="let section of selectedSchema?.protocolFields"
          >{{section.sectionName}}</li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content class="sub-sections">
        <ul>
          <li class="sub-section select-all">
            <mat-checkbox [checked]="areAllSelected()" (change)="selectAll()" [disableRipple]="true" color="primary">Select All</mat-checkbox>
          </li>
          <hr>
          <li class="sub-section" *ngFor="let subSection of currentSection?.subSection">
            <mat-checkbox [checked]="isSectionSelected(subSection.num)" [disableRipple]="true" (change)="toggleSection(subSection.num)" color="primary">{{subSection.desc}}</mat-checkbox>
          </li>
        </ul>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </form>
</div>