<div class="col-md-10 offset-md-1 mt-5">
  <h3>{{ 'Create Template' | translate }}</h3>
  <hr>
  <form>
    <mat-form-field>
      <input type="text" name="templateName" [(ngModel)]="templateName" matInput placeholder="Template Name">
    </mat-form-field>
    <p>{{templateName}}</p>
    <br>
    <mat-radio-group>
      <mat-radio-button value="quebec" (click)="setProtocol('quebec')">{{ 'Quebec Protocol' | translate }}</mat-radio-button>
      <br>
      <mat-radio-button value="canada" (click)="setProtocol('canada')">{{ 'Canadian Protocol' | translate }}</mat-radio-button>
    </mat-radio-group>
    <mat-sidenav-container class="create-template">
      <mat-sidenav opened mode="side" class="sections">
        <ul class="section" *ngFor="let section of data.protocole[0].protocol_fields">
          <li (click)="changeCurrentSection(section.sectionID)">{{section.sectionName}}</li>
        </ul>
      </mat-sidenav>
      <mat-sidenav-content class="sub-sections">
        Pog
      </mat-sidenav-content>
    </mat-sidenav-container>
  </form>
</div>