.btn-purple {
    background-color: #673ab7;
    color: white;
    min-width: 0px;
}
.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
}
.centered{
    text-align: center;
}
