<div class="col-md-12">
	<h1>{{ 'Creer Protocol' | translate }}</h1>
	<hr>
	<div class="row" *ngFor="let x of userProtocol">
		<div class="col-md-6 offset-md-1 mt-5" >
			{{x.protocolName}}
		</div>
		<div class="col-md-2 mt-5">
		<button mat-button (click)="showProtocolCalendar(x)">Voir le protocole</button>
		</div>
		<div class="col-md-2 mt-5">
		<button mat-button (click)="updateProtocol(x)">Modifier le protocole</button>
		</div>
	</div>

	<div class="mt-5">
		<h1>{{ 'Relier Protocol' | translate }}</h1>
		<hr>
		<div class="row" *ngFor="let z of userRelatedProtocol">
			<div class="col-md-6 offset-md-1 mt-5" >
				{{z.protocolUuid}}
			</div>
			<div class="col-md-2 mt-5">
			<button mat-button (click)="showProtocolCalendar(z)">Voir le protocole</button>
			</div>
			<div class="col-md-2 mt-5">
			<button mat-button (click)="updateProtocol(z)">Modifier le protocole</button>
			</div>
		</div>
	</div>
</div>
