.btn-purple {
    background-color: #673ab7 !important;
    color: white !important;
}
.btn-secondary {
    color: #fff;
    background-color: #868e96;
    border-color: #868e96;
    margin-right: 10px;
}

.btn-margin{
    margin-right: 10px;
}