<div class="col-md-12">

    <h1>{{ 'Info Perso' | translate }}</h1>
    <hr>
    <form class="form-inline" [formGroup]="profilForm">
    <div class="col-md-11 offset-md-1">
        <div class='row mb-2'>
            <div class="col-md-7">
                <label>{{ 'First Name' | translate }}</label>
            </div>
            <div class="col-md-4 float-left">
                <div class="form-group">
                    <div class="input-group">
                        <input #firstNameFromTemplate formControlName="firstName" type="text" class="form-control input-underline input-lg" id="firstName" placeholder="{{ 'First Name' | translate }}" value="{{profilData.name}}">
                    </div>
                </div>
                <div class="error-field">
                    <div>
                        <span class="text-error" *ngIf="firstName.invalid && errorProfilEmpty">{{ 'errorEmptyFirstName' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-11 offset-md-1">
        <div class='row mb-2'>
            <div class="col-md-7">
                <label>{{ 'Last Name' | translate }}</label>
            </div>
            <div class="col-md-4 float-left">
                <div class="form-group">
                    <div class="input-group">
                        <input #lastNameFromTemplate  formControlName="lastName" type="text" class="form-control input-underline input-lg" id="lastName" placeholder="{{ 'Last Name' | translate }}" value="{{profilData.familyName}}">
                    </div>
                </div>
                <div class="error-field">
                    <div>
                        <span class="text-error" *ngIf="lastName.invalid && errorProfilEmpty">{{ 'errorEmptyLastName' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-11 offset-md-1">
            <div class="col-md-4 float-right">
                <button mat-button  class="btn-purple"  (click)="updateProfil()">{{ 'modifProtocol' | translate }}</button>
            </div>
        </div>
    </form>
    <h1>{{ 'Reset Password' | translate }}</h1>
    <hr>
    <form class="form-inline" [formGroup]="passwordForm">
        <div class="col-md-11 offset-md-1">
            <div class='row mb-2'>
                <div class="col-md-7">
                    <label>{{ 'Old Password' | translate }}</label>
                </div>
                <div class="col-md-4 float-left">
                    <div class="form-group">
                        <div class="input-group">
                            <input #oldPasswordFromTemplate formControlName="oldPassword" type="password" class="form-control input-underline input-lg" id="oldPassword" placeholder="{{ 'Old Password' | translate }}">
                        </div>
                    </div>
                    <div class="error-field">
                        <div>
                            <span class="text-error" *ngIf="oldPassword.invalid && errorMessageEmpty">{{ 'errorEmptyPassword' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 offset-md-1">
            <div class='row mb-2'>
                <div class="col-md-7">
                    <label>{{ 'New Password' | translate }}</label>
                </div>
                <div class="col-md-4 float-left">
                    <div class="form-group">
                        <div class="input-group">
                            <input #NewPasswordFromTemplate  formControlName="newPassword" type="password" class="form-control input-underline input-lg" id="newPassword" placeholder="{{ 'New Password' | translate }}">
                        </div>
                    </div>
                    <div class="error-field">
                        <div>
                            <span class="text-error" *ngIf="newPassword.invalid && errorMessageEmpty">{{ 'errorEmptyPassword' | translate }}</span>
                        </div>
                        <div>
                            <span class="text-error" *ngIf="errorMessageSame">{{ 'errorPasswordSame' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-11 offset-md-1">
            <div class='row mb-2'>
                <div class="col-md-7">
                    <label>{{ 'Repeat New Password' | translate }}</label>
                </div>
                <div class="col-md-4 float-left">
                    <div class="form-group">
                        <div class="input-group">
                            <input #NewPasswordFromTemplate  formControlName="repeatNewPassword" type="password" class="form-control input-underline input-lg" id="repeatNewPassword" placeholder="{{ 'Repeat New Password' | translate }}">
                        </div>
                    </div>
                    <div class="error-field">
                        <div>
                            <span class="text-error" *ngIf="repeatNewPassword.invalid && errorMessageEmpty">{{ 'errorEmptyRepeatNewPassword' | translate }}</span>
                        </div>
                        <div>
                            <span class="text-error" *ngIf="errorMessageSame">{{ 'errorPasswordSame' | translate }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-11 offset-md-1">
            <div class="col-md-4 float-right">
                <button mat-button  class="btn-purple" (click)="changePassword()">{{ 'modifPassword' | translate }}</button>
            </div>
        </div>

    </form>

</div>
